
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="../pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
    <meta content="Ace" name="author" />
    <link href="../assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../assets/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../pages/css/pages.css" rel="stylesheet" type="text/css">
    <link href="../pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <link class="main-stylesheet" href="../assets/css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

        #floating-panel {
            background-color: #fff;
            border: 1px solid #999;
            left: 25%;
            padding: 5px;
            position: absolute;
            top: 10px;
            z-index: 5;
        }
    </style>
</head>
<body class="fixed-header dashboard">

    <nav class="page-sidebar" data-pages="sidebar">
        <div class="sidebar-header">
            <img src="../assets/img/logo_white.png" alt="logo" class="brand" data-src="../assets/img/logo_white.png" data-src-retina="../assets/img/logo_white_2x.png" height="22">
            <div class="sidebar-header-controls">

            </div>
        </div>


        <div class="sidebar-menu">
            <div class="scroll-wrapper menu-items" style="position: relative;">
                <ul class="menu-items scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 735px;">
                    <li class="m-t-20 ">

                        <a href="../Account/Weather" class="text-white detailed">
                            <span class="text-white title">Weather</span>
                        </a>
                        <span class="icon-thumbnail" ><i class="fa fa-cloud white fa-5x" style="icon:auto"></i></span>
                    </li>
                    <li class="">
                        <a href="../Account/Heatmap" class="detailed">
                            <span class="text-white title" >Heatmap</span>
                        </a>
                        <span class="icon-thumbnail" style="background:#0094ff"><i class="pg-map fa-2x"></i></span>
                    </li>
                    <li class="">
                        <a href="../Account/Tracking"><span class="title text-white">Tracking</span></a>
                        <span class="icon-thumbnail"><i class="fa fa-map-pin fa-2x"></i></span>
                    </li>
                </ul><div class="scroll-element scroll-x scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible" style=""><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 619px; top: 0px;"></div></div></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </nav>
    <div class="page-container ">
        <div class="header">
            <div class="brand inline   ">
                <img src="../assets/img/logo.png" alt="logo" data-src="../assets/img/logo.png" data-src-retina="../assets/img/logo.png">
            </div>
        </div>
        <div id="floating-panel">
            <button onclick="toggleHeatmap()">Toggle Heatmap</button>
            <button onclick="changeGradient()">Change gradient</button>
            <button onclick="changeRadius()">Change radius</button>
            <button onclick="changeOpacity()">Change opacity</button>
        </div>
        <div id="googleMap" style="width:1200px;height:700px;"></div>
        <script>
            function myMap() {
                var mapProp = {
                    center: { lat: 37.975, lng: -122.734 },
                    zoom: 9,
                };

                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(initialLocation);
                });


                heatmap = new google.maps.visualization.HeatmapLayer({
                    data: getPoints(),
                    map: map
                });
                function changeOpacity() {
                    heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
                }
                function getPoints() {
                    return [
                        new google.maps.LatLng(-26.982551, -48.745368),
                        new google.maps.LatLng(-26.982745, -48.744586),
                        new google.maps.LatLng(-26.982842, -48.743688),
                        new google.maps.LatLng(-26.982919, -48.742815),
                        new google.maps.LatLng(-26.982992, -48.742112),
                        new google.maps.LatLng(-26.983100, -48.741461),
                        new google.maps.LatLng(-26.983206, -48.740829),
                        new google.maps.LatLng(-26.983273, -48.740324),
                        new google.maps.LatLng(-26.983316, -48.740023),
                        new google.maps.LatLng(-26.983357, -48.739794),
                        new google.maps.LatLng(-26.983261, -48.739687),
                        new google.maps.LatLng(-26.983368, -48.739666),
                        new google.maps.LatLng(-26.983383, -48.739594),
                        new google.maps.LatLng(-26.983508, -48.739525),
                        new google.maps.LatLng(-26.983842, -48.739591),
                        new google.maps.LatLng(-26.984147, -48.739668),
                        new google.maps.LatLng(-26.984206, -48.739686),
                        new google.maps.LatLng(-26.984386, -48.739790),
                        new google.maps.LatLng(-26.984701, -48.739902),
                        new google.maps.LatLng(-26.984965, -48.739938),
                        new google.maps.LatLng(-26.985010, -48.739947),
                        new google.maps.LatLng(-26.985360, -48.739952),
                        new google.maps.LatLng(-26.985715, -48.740030),
                        new google.maps.LatLng(-26.986117, -48.740119),
                        new google.maps.LatLng(-26.986564, -48.740209),
                        new google.maps.LatLng(-26.986905, -48.740270),
                        new google.maps.LatLng(-26.986956, -48.740279),
                        new google.maps.LatLng(-26.800224, -48.733520),
                        new google.maps.LatLng(-26.800155, -48.734101),
                        new google.maps.LatLng(-26.800160, -48.734430),
                        new google.maps.LatLng(-26.800268, -48.734527),
                        new google.maps.LatLng(-26.800738, -48.734598),
                        new google.maps.LatLng(-26.800938, -48.734650),
                        new google.maps.LatLng(-26.801024, -48.734889),
                        new google.maps.LatLng(-26.800955, -48.735392),
                        new google.maps.LatLng(-26.800886, -48.735959),
                        new google.maps.LatLng(-26.800811, -48.736275),
                        new google.maps.LatLng(-26.800788, -48.736299),
                        new google.maps.LatLng(-26.800719, -48.736302),
                        new google.maps.LatLng(-26.800702, -48.736298),
                        new google.maps.LatLng(-26.800661, -48.736273),
                        new google.maps.LatLng(-26.800395, -48.736172),
                        new google.maps.LatLng(-26.800228, -48.736116),
                        new google.maps.LatLng(-26.800169, -48.736130),
                        new google.maps.LatLng(-26.800066, -48.736167),
                        new google.maps.LatLng(-26.984345, -48.722922),
                        new google.maps.LatLng(-26.984389, -48.722926),
                        new google.maps.LatLng(-26.984426, -48.722924),
                        new google.maps.LatLng(-26.984746, -48.722818),
                        new google.maps.LatLng(-26.985436, -48.722959),
                        new google.maps.LatLng(-26.986120, -48.723112),
                        new google.maps.LatLng(-26.986433, -48.723029),
                        new google.maps.LatLng(-26.986631, -48.721213),
                        new google.maps.LatLng(-26.986660, -48.721033),
                        new google.maps.LatLng(-26.986801, -48.720141),
                        new google.maps.LatLng(-26.986823, -48.720034),
                        new google.maps.LatLng(-26.986831, -48.719916),
                        new google.maps.LatLng(-26.987034, -48.718208),
                        new google.maps.LatLng(-26.987056, -48.718034),
                        new google.maps.LatLng(-26.987169, -48.717145),
                        new google.maps.LatLng(-26.987217, -48.716715),
                        new google.maps.LatLng(-26.986144, -48.716403),
                        new google.maps.LatLng(-26.985292, -48.716257),
                        new google.maps.LatLng(-26.980666, -48.790264),
                        new google.maps.LatLng(-26.980501, -48.791281),
                        new google.maps.LatLng(-26.980148, -48.792052),
                        new google.maps.LatLng(-26.980173, -48.791148),
                        new google.maps.LatLng(-26.980693, -48.790592),
                        new google.maps.LatLng(-26.981261, -48.791142),
                        new google.maps.LatLng(-26.981808, -48.791730),
                        new google.maps.LatLng(-26.982340, -48.792341),
                        new google.maps.LatLng(-26.982812, -48.793022),
                        new google.maps.LatLng(-26.983300, -48.793672),
                        new google.maps.LatLng(-26.983809, -48.794275),
                        new google.maps.LatLng(-26.984246, -48.794979),
                        new google.maps.LatLng(-26.984791, -48.795958),
                        new google.maps.LatLng(-26.985675, -48.796746),
                        new google.maps.LatLng(-26.986262, -48.795780),
                        new google.maps.LatLng(-26.986776, -48.795093),
                        new google.maps.LatLng(-26.987282, -48.794426),
                        new google.maps.LatLng(-26.987783, -48.792667),
                        new google.maps.LatLng(-26.988343, -48.793184),
                        new google.maps.LatLng(-26.988895, -48.792506),
                        new google.maps.LatLng(-26.989261, -48.791701),
                        new google.maps.LatLng(-26.989722, -48.790952),
                        new google.maps.LatLng(-26.990315, -48.790305),
                        new google.maps.LatLng(-26.990738, -48.789616),
                        new google.maps.LatLng(-26.979448, -48.738702),
                        new google.maps.LatLng(-26.979023, -48.738585),
                        new google.maps.LatLng(-26.978542, -48.738492),
                        new google.maps.LatLng(-26.978100, -48.738411),
                        new google.maps.LatLng(-26.977986, -48.738266),
                        new google.maps.LatLng(-26.977680, -48.738313),
                        new google.maps.LatLng(-26.977316, -48.738273),
                        new google.maps.LatLng(-26.977135, -48.738254),
                        new google.maps.LatLng(-26.976987, -48.738303),
                        new google.maps.LatLng(-26.976946, -48.738404),
                        new google.maps.LatLng(-26.976944, -48.738467),
                        new google.maps.LatLng(-26.976892, -48.738459),
                        new google.maps.LatLng(-26.976842, -48.738442),
                        new google.maps.LatLng(-26.976822, -48.738391),
                        new google.maps.LatLng(-26.976814, -48.738412),
                        new google.maps.LatLng(-26.976787, -48.738628),
                        new google.maps.LatLng(-26.976729, -48.738650),
                        new google.maps.LatLng(-26.976759, -48.738677),
                        new google.maps.LatLng(-26.976772, -48.738498),
                        new google.maps.LatLng(-26.976787, -48.738389),
                        new google.maps.LatLng(-26.976848, -48.738283),
                        new google.maps.LatLng(-26.976870, -48.738239),
                        new google.maps.LatLng(-26.977015, -48.738198),
                        new google.maps.LatLng(-26.977333, -48.738256),
                        new google.maps.LatLng(-26.977595, -48.738308),
                        new google.maps.LatLng(-26.977797, -48.738344),
                        new google.maps.LatLng(-26.978160, -48.738442),
                        new google.maps.LatLng(-26.978414, -48.738508),
                        new google.maps.LatLng(-26.978445, -48.738516),
                        new google.maps.LatLng(-26.978503, -48.738529),
                        new google.maps.LatLng(-26.978607, -48.738549),
                        new google.maps.LatLng(-26.978670, -48.738644),
                        new google.maps.LatLng(-26.978847, -48.738706),
                        new google.maps.LatLng(-26.979240, -48.738744),
                        new google.maps.LatLng(-26.979738, -48.738822),
                        new google.maps.LatLng(-26.980201, -48.738882),
                        new google.maps.LatLng(-26.980400, -48.738905),
                        new google.maps.LatLng(-26.980501, -48.738921),
                        new google.maps.LatLng(-26.980892, -48.738986),
                        new google.maps.LatLng(-26.981446, -48.739087),
                        new google.maps.LatLng(-26.981985, -48.739199),
                        new google.maps.LatLng(-26.982239, -48.739249),
                        new google.maps.LatLng(-26.982286, -48.739266),
                        new google.maps.LatLng(-26.997847, -48.729388),
                        new google.maps.LatLng(-26.997874, -48.729180),
                        new google.maps.LatLng(-26.997885, -48.729069),
                        new google.maps.LatLng(-26.997887, -48.729050),
                        new google.maps.LatLng(-26.997933, -48.728954),
                        new google.maps.LatLng(-26.998242, -48.728990),
                        new google.maps.LatLng(-26.998617, -48.729075),
                        new google.maps.LatLng(-26.998719, -48.729092),
                        new google.maps.LatLng(-26.998944, -48.729145),
                        new google.maps.LatLng(-26.999320, -48.729251),
                        new google.maps.LatLng(-26.999590, -48.729309),
                        new google.maps.LatLng(-26.999677, -48.729324),
                        new google.maps.LatLng(-26.999966, -48.729360),
                        new google.maps.LatLng(-26.800288, -48.729430),
                        new google.maps.LatLng(-26.800443, -48.729461),
                        new google.maps.LatLng(-26.800465, -48.729474),
                        new google.maps.LatLng(-26.800644, -48.729540),
                        new google.maps.LatLng(-26.800948, -48.729620),
                        new google.maps.LatLng(-26.801242, -48.729685),
                        new google.maps.LatLng(-26.801265, -48.729702),
                        new google.maps.LatLng(-26.801400, -48.729703),
                        new google.maps.LatLng(-26.801453, -48.729707),
                        new google.maps.LatLng(-26.801473, -48.729709),
                        new google.maps.LatLng(-26.801532, -48.729707),
                        new google.maps.LatLng(-26.801852, -48.729729),
                        new google.maps.LatLng(-26.802173, -48.729789),
                        new google.maps.LatLng(-26.802459, -48.729847),
                        new google.maps.LatLng(-26.802554, -48.729825),
                        new google.maps.LatLng(-26.802647, -48.729549),
                        new google.maps.LatLng(-26.802693, -48.729179),
                        new google.maps.LatLng(-26.802729, -48.728751),
                        new google.maps.LatLng(-26.966104, -48.709291),
                        new google.maps.LatLng(-26.966103, -48.709268),
                        new google.maps.LatLng(-26.966138, -48.709229),
                        new google.maps.LatLng(-26.966183, -48.709231),
                        new google.maps.LatLng(-26.966153, -48.709276),
                        new google.maps.LatLng(-26.966005, -48.709365),
                        new google.maps.LatLng(-26.965897, -48.709570),
                        new google.maps.LatLng(-26.965767, -48.709739),
                        new google.maps.LatLng(-26.965693, -48.710389),
                        new google.maps.LatLng(-26.965615, -48.711201),
                        new google.maps.LatLng(-26.965533, -48.712121),
                        new google.maps.LatLng(-26.965467, -48.712939),
                        new google.maps.LatLng(-26.965444, -48.714821),
                        new google.maps.LatLng(-26.965444, -48.714964),
                        new google.maps.LatLng(-26.965318, -48.715424),
                        new google.maps.LatLng(-26.963961, -48.715296),
                        new google.maps.LatLng(-26.963115, -48.715196),
                        new google.maps.LatLng(-26.962967, -48.715183),
                        new google.maps.LatLng(-26.962278, -48.715127),
                        new google.maps.LatLng(-26.961675, -48.715055),
                        new google.maps.LatLng(-26.960932, -48.714988),
                        new google.maps.LatLng(-26.959326, -48.714862),
                        new google.maps.LatLng(-26.973187, -48.721922),
                        new google.maps.LatLng(-26.973043, -48.722118),
                        new google.maps.LatLng(-26.973007, -48.722165),
                        new google.maps.LatLng(-26.972979, -48.722219),
                        new google.maps.LatLng(-26.972865, -48.722394),
                        new google.maps.LatLng(-26.972779, -48.722503),
                        new google.maps.LatLng(-26.972676, -48.722701),
                        new google.maps.LatLng(-26.972606, -48.722806),
                        new google.maps.LatLng(-26.972566, -48.722840),
                        new google.maps.LatLng(-26.972508, -48.722852),
                        new google.maps.LatLng(-26.972387, -48.723011),
                        new google.maps.LatLng(-26.972099, -48.723328),
                        new google.maps.LatLng(-26.971704, -48.722683),
                        new google.maps.LatLng(-26.971481, -48.724081),
                        new google.maps.LatLng(-26.971400, -48.724179),
                        new google.maps.LatLng(-26.971352, -48.724220),
                        new google.maps.LatLng(-26.971248, -48.724327),
                        new google.maps.LatLng(-26.970904, -48.724781),
                        new google.maps.LatLng(-26.970520, -48.725283),
                        new google.maps.LatLng(-26.970326, -48.725553),
                        new google.maps.LatLng(-26.970128, -48.725832),
                        new google.maps.LatLng(-26.969756, -48.726331),
                        new google.maps.LatLng(-26.969300, -48.726902),
                        new google.maps.LatLng(-26.969132, -48.727065),
                        new google.maps.LatLng(-26.969092, -48.727103),
                        new google.maps.LatLng(-26.968979, -48.727172),
                        new google.maps.LatLng(-26.968595, -48.727634),
                        new google.maps.LatLng(-26.968262, -48.727913),
                        new google.maps.LatLng(-26.968326, -48.727961),
                        new google.maps.LatLng(-26.968244, -48.728138),
                        new google.maps.LatLng(-26.967942, -48.728581),
                        new google.maps.LatLng(-26.967482, -48.729094),
                        new google.maps.LatLng(-26.967031, -48.729606),
                        new google.maps.LatLng(-26.966732, -48.729986),
                        new google.maps.LatLng(-26.966680, -48.730058),
                        new google.maps.LatLng(-26.966633, -48.730109),
                        new google.maps.LatLng(-26.966580, -48.730211),
                        new google.maps.LatLng(-26.966367, -48.730594),
                        new google.maps.LatLng(-26.965910, -48.731126),
                        new google.maps.LatLng(-26.965353, -48.731806),
                        new google.maps.LatLng(-26.964962, -48.732298),
                        new google.maps.LatLng(-26.964868, -48.732486),
                        new google.maps.LatLng(-26.964518, -48.732913),
                        new google.maps.LatLng(-26.963435, -48.734173),
                        new google.maps.LatLng(-26.962847, -48.734953),
                        new google.maps.LatLng(-26.962291, -48.735935),
                        new google.maps.LatLng(-26.962224, -48.736074),
                        new google.maps.LatLng(-26.961957, -48.736892),
                        new google.maps.LatLng(-26.961652, -48.738886),
                        new google.maps.LatLng(-26.961284, -48.739955),
                        new google.maps.LatLng(-26.961210, -48.740068),
                        new google.maps.LatLng(-26.961064, -48.740720),
                        new google.maps.LatLng(-26.961040, -48.741411),
                        new google.maps.LatLng(-26.961048, -48.742324),
                        new google.maps.LatLng(-26.960851, -48.743118),
                        new google.maps.LatLng(-26.959977, -48.744591),
                        new google.maps.LatLng(-26.959913, -48.744698),
                        new google.maps.LatLng(-26.959623, -48.745065),
                        new google.maps.LatLng(-26.958902, -48.745158),
                        new google.maps.LatLng(-26.958428, -48.744570),
                        new google.maps.LatLng(-26.957687, -48.743340),
                        new google.maps.LatLng(-26.957583, -48.743240),
                        new google.maps.LatLng(-26.957019, -48.742787),
                        new google.maps.LatLng(-26.956603, -48.742322),
                        new google.maps.LatLng(-26.956380, -48.741602),
                        new google.maps.LatLng(-26.955790, -48.741382),
                        new google.maps.LatLng(-26.954493, -48.742133),
                        new google.maps.LatLng(-26.954361, -48.742206),
                        new google.maps.LatLng(-26.952619, -48.742650),
                        new google.maps.LatLng(-26.953096, -48.742915),
                        new google.maps.LatLng(-26.951617, -48.743211),
                        new google.maps.LatLng(-26.951496, -48.743246),
                        new google.maps.LatLng(-26.950733, -48.743428),
                        new google.maps.LatLng(-26.950126, -48.743536),
                        new google.maps.LatLng(-26.950103, -48.742684),
                        new google.maps.LatLng(-26.950390, -48.744010),
                        new google.maps.LatLng(-26.950448, -48.744013),
                        new google.maps.LatLng(-26.950536, -48.744040),
                        new google.maps.LatLng(-26.950493, -48.744141),
                        new google.maps.LatLng(-26.990859, -48.702808),
                        new google.maps.LatLng(-26.990864, -48.702768),
                        new google.maps.LatLng(-26.990995, -48.702539),
                        new google.maps.LatLng(-26.991148, -48.702172),
                        new google.maps.LatLng(-26.991385, -48.701312),
                        new google.maps.LatLng(-26.991405, -48.700776),
                        new google.maps.LatLng(-26.991288, -48.700528),
                        new google.maps.LatLng(-26.991113, -48.700441),
                        new google.maps.LatLng(-26.991027, -48.700395),
                        new google.maps.LatLng(-26.991094, -48.700311),
                        new google.maps.LatLng(-26.991211, -48.700183),
                        new google.maps.LatLng(-26.991060, -48.799334),
                        new google.maps.LatLng(-26.990538, -48.798718),
                        new google.maps.LatLng(-26.990095, -48.798086),
                        new google.maps.LatLng(-26.989644, -48.797360),
                        new google.maps.LatLng(-26.989254, -48.796844),
                        new google.maps.LatLng(-26.988855, -48.796397),
                        new google.maps.LatLng(-26.988483, -48.795963),
                        new google.maps.LatLng(-26.988015, -48.795365),
                        new google.maps.LatLng(-26.987558, -48.794735),
                        new google.maps.LatLng(-26.987472, -48.794323),
                        new google.maps.LatLng(-26.987630, -48.794025),
                        new google.maps.LatLng(-26.987767, -48.793987),
                        new google.maps.LatLng(-26.987486, -48.794452),
                        new google.maps.LatLng(-26.986977, -48.795043),
                        new google.maps.LatLng(-26.986583, -48.795552),
                        new google.maps.LatLng(-26.986540, -48.795610),
                        new google.maps.LatLng(-26.986516, -48.795659),
                        new google.maps.LatLng(-26.986268, -48.795707),
                        new google.maps.LatLng(-26.986044, -48.795362),
                        new google.maps.LatLng(-26.985598, -48.794715),
                        new google.maps.LatLng(-26.985321, -48.794361),
                        new google.maps.LatLng(-26.985207, -48.794236),
                        new google.maps.LatLng(-26.985751, -48.794062),
                        new google.maps.LatLng(-26.985996, -48.793881),
                        new google.maps.LatLng(-26.986092, -48.793830),
                        new google.maps.LatLng(-26.985998, -48.793899),
                        new google.maps.LatLng(-26.985114, -48.794365),
                        new google.maps.LatLng(-26.985022, -48.794441),
                        new google.maps.LatLng(-26.984823, -48.794635),
                        new google.maps.LatLng(-26.984719, -48.794629),
                        new google.maps.LatLng(-26.985069, -48.794176),
                        new google.maps.LatLng(-26.985500, -48.793650),
                        new google.maps.LatLng(-26.985770, -48.793291),
                        new google.maps.LatLng(-26.985839, -48.793159),
                        new google.maps.LatLng(-26.982651, -48.700628),
                        new google.maps.LatLng(-26.982616, -48.700599),
                        new google.maps.LatLng(-26.982702, -48.700470),
                        new google.maps.LatLng(-26.982915, -48.700192),
                        new google.maps.LatLng(-26.983126, -48.799887),
                        new google.maps.LatLng(-26.983414, -48.799519),
                        new google.maps.LatLng(-26.983629, -48.799226),
                        new google.maps.LatLng(-26.983688, -48.799157),
                        new google.maps.LatLng(-26.982616, -48.799106),
                        new google.maps.LatLng(-26.982698, -48.799072),
                        new google.maps.LatLng(-26.983997, -48.799186),
                        new google.maps.LatLng(-26.984271, -48.799538),
                        new google.maps.LatLng(-26.984577, -48.799948),
                        new google.maps.LatLng(-26.984828, -48.700260),
                        new google.maps.LatLng(-26.984999, -48.700477),
                        new google.maps.LatLng(-26.985113, -48.700651),
                        new google.maps.LatLng(-26.985155, -48.700703),
                        new google.maps.LatLng(-26.985192, -48.700749),
                        new google.maps.LatLng(-26.985278, -48.700839),
                        new google.maps.LatLng(-26.985387, -48.700857),
                        new google.maps.LatLng(-26.985478, -48.700890),
                        new google.maps.LatLng(-26.985526, -48.701022),
                        new google.maps.LatLng(-26.985598, -48.701148),
                        new google.maps.LatLng(-26.985631, -48.701202),
                        new google.maps.LatLng(-26.985660, -48.701267),
                        new google.maps.LatLng(-26.803986, -48.726035),
                        new google.maps.LatLng(-26.804102, -48.725089),
                        new google.maps.LatLng(-26.804211, -48.724156),
                        new google.maps.LatLng(-26.803861, -48.723385),
                        new google.maps.LatLng(-26.803151, -48.723214),
                        new google.maps.LatLng(-26.802439, -48.723077),
                        new google.maps.LatLng(-26.801740, -48.722905),
                        new google.maps.LatLng(-26.801069, -48.722785),
                        new google.maps.LatLng(-26.800345, -48.722649),
                        new google.maps.LatLng(-26.999633, -48.722603),
                        new google.maps.LatLng(-26.999750, -48.721700),
                        new google.maps.LatLng(-26.999885, -48.720854),
                        new google.maps.LatLng(-26.999209, -48.720607),
                        new google.maps.LatLng(-26.995656, -48.700395),
                        new google.maps.LatLng(-26.995203, -48.700304),
                        new google.maps.LatLng(-26.978738, -48.715584),
                        new google.maps.LatLng(-26.978812, -48.715189),
                        new google.maps.LatLng(-26.978824, -48.715092),
                        new google.maps.LatLng(-26.978833, -48.714932),
                        new google.maps.LatLng(-26.978834, -48.714898),
                        new google.maps.LatLng(-26.978740, -48.714757),
                        new google.maps.LatLng(-26.978501, -48.714433),
                        new google.maps.LatLng(-26.978182, -48.714026),
                        new google.maps.LatLng(-26.977851, -48.713623),
                        new google.maps.LatLng(-26.977486, -48.713166),
                        new google.maps.LatLng(-26.977109, -48.712674),
                        new google.maps.LatLng(-26.976743, -48.712186),
                        new google.maps.LatLng(-26.976440, -48.711800),
                        new google.maps.LatLng(-26.976295, -48.711614),
                        new google.maps.LatLng(-26.976158, -48.711440),
                        new google.maps.LatLng(-26.975806, -48.710997),
                        new google.maps.LatLng(-26.975422, -48.710484),
                        new google.maps.LatLng(-26.975126, -48.710087),
                        new google.maps.LatLng(-26.975012, -48.709854),
                        new google.maps.LatLng(-26.975164, -48.709573),
                        new google.maps.LatLng(-26.975498, -48.709180),
                        new google.maps.LatLng(-26.975868, -48.708730),
                        new google.maps.LatLng(-26.976256, -48.708240),
                        new google.maps.LatLng(-26.976519, -48.707928),
                        new google.maps.LatLng(-26.976539, -48.707904),
                        new google.maps.LatLng(-26.976595, -48.707854),
                        new google.maps.LatLng(-26.976853, -48.707547),
                        new google.maps.LatLng(-26.977234, -48.707087),
                        new google.maps.LatLng(-26.977644, -48.706558),
                        new google.maps.LatLng(-26.978066, -48.706017),
                        new google.maps.LatLng(-26.978468, -48.705499),
                        new google.maps.LatLng(-26.978866, -48.704995),
                        new google.maps.LatLng(-26.979295, -48.704455),
                        new google.maps.LatLng(-26.979695, -48.703950),
                        new google.maps.LatLng(-26.979982, -48.703584),
                        new google.maps.LatLng(-26.980295, -48.703223),
                        new google.maps.LatLng(-26.980664, -48.702766),
                        new google.maps.LatLng(-26.981043, -48.702288),
                        new google.maps.LatLng(-26.981399, -48.701823),
                        new google.maps.LatLng(-26.981727, -48.701407),
                        new google.maps.LatLng(-26.981853, -48.701247),
                        new google.maps.LatLng(-26.981894, -48.701195),
                        new google.maps.LatLng(-26.982076, -48.700977),
                        new google.maps.LatLng(-26.982338, -48.700603),
                        new google.maps.LatLng(-26.982666, -48.700133),
                        new google.maps.LatLng(-26.983048, -48.799634),
                        new google.maps.LatLng(-26.983450, -48.799198),
                        new google.maps.LatLng(-26.982691, -48.798998),
                        new google.maps.LatLng(-26.984177, -48.798959),
                        new google.maps.LatLng(-26.984388, -48.798971),
                        new google.maps.LatLng(-26.984404, -48.799128),
                        new google.maps.LatLng(-26.984586, -48.799524),
                        new google.maps.LatLng(-26.984835, -48.799927),
                        new google.maps.LatLng(-26.985116, -48.700307),
                        new google.maps.LatLng(-26.985282, -48.700539),
                        new google.maps.LatLng(-26.985346, -48.700692),
                        new google.maps.LatLng(-26.965769, -48.707201),
                        new google.maps.LatLng(-26.965790, -48.707414),
                        new google.maps.LatLng(-26.965802, -48.707755),
                        new google.maps.LatLng(-26.965791, -48.708219),
                        new google.maps.LatLng(-26.965763, -48.708759),
                        new google.maps.LatLng(-26.965726, -48.709348),
                        new google.maps.LatLng(-26.965716, -48.709882),
                        new google.maps.LatLng(-26.965708, -48.710202),
                        new google.maps.LatLng(-26.965705, -48.710253),
                        new google.maps.LatLng(-26.965707, -48.710369),
                        new google.maps.LatLng(-26.965692, -48.710720),
                        new google.maps.LatLng(-26.965699, -48.711215),
                        new google.maps.LatLng(-26.965687, -48.711789),
                        new google.maps.LatLng(-26.965666, -48.712263),
                        new google.maps.LatLng(-26.965598, -48.712883),
                        new google.maps.LatLng(-26.965543, -48.713039),
                        new google.maps.LatLng(-26.965532, -48.713125),
                        new google.maps.LatLng(-26.965500, -48.713553),
                        new google.maps.LatLng(-26.965448, -48.714053),
                        new google.maps.LatLng(-26.965388, -48.714645),
                        new google.maps.LatLng(-26.965323, -48.715250),
                        new google.maps.LatLng(-26.965303, -48.715847),
                        new google.maps.LatLng(-26.965251, -48.716439),
                        new google.maps.LatLng(-26.965204, -48.717020),
                        new google.maps.LatLng(-26.965172, -48.717556),
                        new google.maps.LatLng(-26.965164, -48.718075),
                        new google.maps.LatLng(-26.965153, -48.718618),
                        new google.maps.LatLng(-26.965136, -48.719112),
                        new google.maps.LatLng(-26.965129, -48.719268),
                        new google.maps.LatLng(-26.965119, -48.719481),
                        new google.maps.LatLng(-26.965100, -48.719852),
                        new google.maps.LatLng(-26.965083, -48.720349),
                        new google.maps.LatLng(-26.965045, -48.720930),
                        new google.maps.LatLng(-26.964992, -48.721481),
                        new google.maps.LatLng(-26.964980, -48.721695),
                        new google.maps.LatLng(-26.964993, -48.721843),
                        new google.maps.LatLng(-26.964986, -48.722255),
                        new google.maps.LatLng(-26.964975, -48.722823),
                        new google.maps.LatLng(-26.964939, -48.723411),
                        new google.maps.LatLng(-26.964902, -48.724014),
                        new google.maps.LatLng(-26.964853, -48.724576),
                        new google.maps.LatLng(-26.964826, -48.724922),
                        new google.maps.LatLng(-26.964796, -48.725265),
                        new google.maps.LatLng(-26.964782, -48.725869),
                        new google.maps.LatLng(-26.964768, -48.726089),
                        new google.maps.LatLng(-26.964766, -48.726117),
                        new google.maps.LatLng(-26.964723, -48.726276),
                        new google.maps.LatLng(-26.964681, -48.726649),
                        new google.maps.LatLng(-26.982012, -48.704200),
                        new google.maps.LatLng(-26.981574, -48.704911),
                        new google.maps.LatLng(-26.981055, -48.705597),
                        new google.maps.LatLng(-26.980479, -48.706341),
                        new google.maps.LatLng(-26.979996, -48.706939),
                        new google.maps.LatLng(-26.979459, -48.707613),
                        new google.maps.LatLng(-26.978953, -48.708228),
                        new google.maps.LatLng(-26.978409, -48.708839),
                        new google.maps.LatLng(-26.977842, -48.709501),
                        new google.maps.LatLng(-26.977334, -48.710181),
                        new google.maps.LatLng(-26.976809, -48.710836),
                        new google.maps.LatLng(-26.976240, -48.711514),
                        new google.maps.LatLng(-26.975725, -48.712145),
                        new google.maps.LatLng(-26.975190, -48.712805),
                        new google.maps.LatLng(-26.974672, -48.713464),
                        new google.maps.LatLng(-26.974084, -48.714186),
                        new google.maps.LatLng(-26.973533, -48.713636),
                        new google.maps.LatLng(-26.973021, -48.713009),
                        new google.maps.LatLng(-26.972501, -48.712261),
                        new google.maps.LatLng(-26.971964, -48.711681),
                        new google.maps.LatLng(-26.971479, -48.711078),
                        new google.maps.LatLng(-26.970992, -48.710477),
                        new google.maps.LatLng(-26.970467, -48.709801),
                        new google.maps.LatLng(-26.970090, -48.708904),
                        new google.maps.LatLng(-26.969657, -48.708103),
                        new google.maps.LatLng(-26.969132, -48.707276),
                        new google.maps.LatLng(-26.968564, -48.706469),
                        new google.maps.LatLng(-26.967980, -48.705745),
                        new google.maps.LatLng(-26.967380, -48.705299),
                        new google.maps.LatLng(-26.966604, -48.705297),
                        new google.maps.LatLng(-26.965838, -48.705200),
                        new google.maps.LatLng(-26.965139, -48.705139),
                        new google.maps.LatLng(-26.964457, -48.705094),
                        new google.maps.LatLng(-26.962616, -48.705142),
                        new google.maps.LatLng(-26.962932, -48.705398),
                        new google.maps.LatLng(-26.962126, -48.705813),
                        new google.maps.LatLng(-26.961344, -48.706215),
                        new google.maps.LatLng(-26.960556, -48.706495),
                        new google.maps.LatLng(-26.959732, -48.706484),
                        new google.maps.LatLng(-26.958910, -48.706228),
                        new google.maps.LatLng(-26.958182, -48.705695),
                        new google.maps.LatLng(-26.957676, -48.705118),
                        new google.maps.LatLng(-26.957039, -48.704346),
                        new google.maps.LatLng(-26.956335, -48.702619),
                        new google.maps.LatLng(-26.955503, -48.703406),
                        new google.maps.LatLng(-26.954665, -48.703242),
                        new google.maps.LatLng(-26.953826, -48.703172),
                        new google.maps.LatLng(-26.952986, -48.703112),
                        new google.maps.LatLng(-26.951266, -48.703355)
                    ];
                }
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfCEDsPXE9utFX1iXopwLyB11sOS5i9LE&libraries=visualization&callback=myMap"></script>
        <div class=" container-fluid   footer">
            <div class="copyright sm-text-center">
                <p class="small">
                    Copyright &copy; 2020 <b><a href="http://portal.mass.com.br">MASS Labs</a></b>. Todos os Direitos Reservados.
                </p>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <script src="../assets/liga.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="../assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/classie/classie.js"></script>
    <script src="../assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="../assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="../assets/plugins/mapplic/js/hammer.min.js"></script>
    <script src="../assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="../assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="../assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="../assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/skycons/skycons.js" type="text/javascript"></script>
    <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../assets/plugins/pace/pace.min.js" type="text/javascript"></script>



    <script src="../pages/js/pages.js"></script><div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"><div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div></div>


    <script src="../assets/js/scripts.js" type="text/javascript"></script>



    <script src="../assets/js/dashboard.js" type="text/javascript"></script>
    <script src="../assets/js/scripts.js" type="text/javascript"></script>


    <div class="pg-colors"><div class="bg-success-light" data-color="success-light"></div><div class="bg-contrast-low" data-color="contrast-low"></div><div class="bg-complete-light" data-color="complete-light"></div><div class="bg-contrast-lower" data-color="contrast-lower"></div><div class="bg-danger" data-color="danger"></div><div class="bg-success" data-color="success"></div><div class="bg-primary" data-color="primary"></div><div class="bg-complete" data-color="complete"></div></div><div id="pg-visible-sm" class="visible-sm"></div><div id="pg-visible-xs" class="visible-xs"></div>

</body>
</html>