<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#bntLocation").click(function () {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var weatherAPI = "https://api.weatherapi.com/v1/current.json?key=5b34aa6378dd4d889bf142611201002&q=" + position.coords.latitude + "," + position.coords.longitude;

                    $.getJSON(weatherAPI, function (data) {
                        var forecast = data.current.temp_c;
                        var wind_speed = data.current.wind_kph;
                        var weather = $("#weather");
                        var location = data.location.name;
                        var conditions = data.current.conditions;
                        weather.append('Temperature:' + forecast + '° C <br/>' + 'Wind Speed:' + wind_speed + ' KM/H' + '<br/>'  + 'City: ' + location + ' <br/>');
                        
                    }).error(function (e) {
                        $("#weather").append('Sorry! Not Loaded');
                    });
                })
            });
        });
    </script>
</head>
<body>



    <div class="card card-default card-condensed text-black">
        <div class="card-header">
            <div class="card-title">
                Basic Cards
            </div>
        </div>
        <div class="card-block">
            <p id="weather"></p>
        </div>
    </div>
    <button id="bntLocation" class="btn btn-primary btn-cons">
        Weather
    </button>


</body>
</html>
